group Framework
    framework: net461
    source https://nuget.org/api/v2
    storage:none

    nuget DotNetNuke.Core 8.0.4.226 
    nuget DotNetNuke.WebApi 8.0.4.226 
    nuget FSharp.Core
    nuget Newtonsoft.Json ~> 11.0

    source ..\..\_nuget_local
    nuget Fable.WebApi ~> 0.1

group Fable
    framework: netstandard2.0
    source https://nuget.org/api/v2
    storage:none
    nuget FSharp.Core

    source ..\..\_nuget_local
    nuget Fable.WebApi.Fetch ~> 0.1
